{% extends 'main/base.html' %}
{% load static %}

{% block title %}Food For Fitness Event - {{ block.super }}{% endblock %}

{% block content %}

    <div class="container-fluid">

        {% include 'main/navbar.html' with nav=nav %}

        <div class="container-fluid big-body">

            <div class="row">
                <div class="col">
                    <h2>Unlock Your Peak Performance with Plant-Based Power!</h2>
                    <p><img class="img-fluid" src="{% static 'main/img/events/230819_fitness/fitness.png' %}"/></p>

                    <p>Are you ready to unleash your athletic potential and take your fitness to new heights? Look no further! Introducing our dynamic online course, Food for Life: Food for Fitness, where we explore the remarkable benefits of plant-based nutrition for athletes and fitness enthusiasts alike.</p>
                    <p>For centuries, athletes have harnessed the power of plant-based diets to gain a competitive edge, and now, these principles are captivating sports enthusiasts across the globe. From endurance sports to weightlifting and even Formula One racing, vegan athletes are leading the way!</p>
                    <p>But you don't have to be a pro to reap the rewards of a plant-powered diet. Our course shows you how a low-fat vegan diet, packed with nourishing whole grains, legumes, fruits, and veggies, provides the ultimate fuel for all physical activities. Discover how it promotes enhanced recovery compared to high-fat and animal-based diets.</p>
                    <p>The Food for Life: Food for Fitness class is a comprehensive two-hour experience that offers video lessons, stimulating discussions, captivating cooking demonstrations, and the chance to learn how to create delectable plant-based dishes. Join us online and gain valuable knowledge and culinary skills that empower you to create simple, nutrient-rich meals for peak fitness and optimal recovery.</p>
                    <p>Embark on this transformative journey with us, and unlock your body's true potential. Get ready to excel, perform, and thrive with the power of plant-based nutrition. Join our class today and elevate your fitness game to extraordinary levels!</p>

                    <h4>Course Format:</h4>
                    <p><ul>
                        <li>Warm Welcome</li>
                        <li>Inspiring Video Lesson</li>
                        <li>Engaging Quiz and Interactive Discussion</li>
                        <li>Enthralling Cooking Demonstration and Tastings (in-person option)</li>
                        <li>Abundant Resources and Mouthwatering Recipes</li>
                        <li>Q&A Session to fuel your curiosity</li>
                    </ul></p>

                    <p>Are you ready to rise above the competition and embrace your inner plant-powered athlete? Enroll now and let's embark on this exhilarating journey together!</p>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col">
                    <h2>Learn the nutrition essentials to lose weight and dramatically improve your health</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img img-fluid" src="{% static 'main/img/events/202303_nutrition_essentials/flyer.jpeg' %}"/>
                </div>
                <div class="col-sm-8">
                    <ul class="mt-4">
                        <li>Healthy Meal Ideas</li>
                        <li>Hidden Calories in Food</li>
                        <li>Foods to Avoid and Enjoy</li>
                        <li>Healthy food substitutions
                        <li>Make Every Meal a Power Plate Meal</li>
                        <li>Power Plate Grocery Shopping List</li>
                        <li>Read Nutrition labels</li>
                        <li>Weekly Menu Planner</li>
                        <li>Improve “after meal calorie burn”</li>
                        <li>Strategies for Success</li>
                        <li>Sample foods</li>
                    </ul>
                    <p class="mt-4">
                        Class date: 13 December 2023<br/>
                        Venue: Online<br/>
                        Time: 19:00 SAST<br/>
                        Cost: R200<br/>
                        Presenter: FFL instructor Nerine Jansen, NHP,HC,RNP,CWLS,NHLC
                    </p>
                    <p>
                        For more information or bookings Contact:<br/>
                        <i class="bi bi-envelope-open"></i> E-mail: <a href="mailto:phytolean@gmail.com">phytolean@gmail.com</a><br/>
                        <i class="bi bi-whatsapp"></i> WhatsApp: <a href="tel:+27768180808">076 818 0808</a>
                    </p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <p><img class="img img-fluid" src="{% static 'main/img/events/202303_nutrition_essentials/infographic.png' %}"/></p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <h2>To learn more about the Food For Life program with the Physicians Committee for Responsible Medicine (PCRM), please watch the video below.</h2>
                    <p>
                        Food for Life is an award-winning nutrition education and cooking class program that provides an
                        innovative approach to diet-related chronic diseases. Since 2001, Food for Life
                        has been a pioneer in delivering hands-on information about the direct role of
                        plant-based nutrition in health and disease prevention to communities around the
                        world.Designed by physicians, nurses, and registered dietitians, Food for
                        Life promotes healthful eating based on the latest scientific research.
                    </p>
                    <p>
                        Each Food for Life class includes:
                        <ul>
                            <li>Specific information about how certain foods and nutrients work to promote or discourage disease</li>
                            <li>Cooking demonstrations of delicious and healthful recipes</li>
                            <li>Practical cooking skills and tips for incorporating healthful eating habits into daily life</li>
                            <li>A supportive and motivational atmosphere to empower participants to take charge of their health with the foods that are put on their plates</li>
                        </ul>
                    </p>
                    <p><video class="ne-vid" controls>
                        <source src="{% static 'main/foodforlifepromo.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video></p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
{#                    <p><a href="{% url 'event_202303_form' %}"><button class="btn btn-primary">Apply here to join the class</button></a></p>#}
                </div>
            </div>

        </div>
        <br/>

        {% include 'main/footer.html' %}
    </div>

{% endblock %}