{% extends 'main/base.html' %}
{% load static %}

{% block title %}Kickstart Your Health Event - {{ block.super }}{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">

        <div class="row">
            <div class="col">
                <h2>Kickstart Your Health</h2>
                <p>Details coming soon</p>
            </div>
        </div>

    </div>
    <br/>

    {% include 'main/footer.html' %}
</div>

{% endblock %}
