{% load static %}

<div class="row py-5"  style="background: var(--clr-lightblue)">
    <div class="col-6">
        <img class="img-fluid" src="{% static 'main/img/services/brooke-lark-W9OKrxBqiZA-unsplash.jpg' %}"/>
    </div>
    <div class="col-6">
        <h2 class="pb-4">Food with a purpose</h2>
        <h4 class="pb-3">The PhytoLean weight loss program</h4>
        <p>This program was especially developed for clients who need an integrated multi-level approach to holistic weight loss.</p>
        <p>In our programme we address multiple mixed needs of our clients. We cater for clients that seek a combination of multiple types of expertise whilst still embracing and celebrating the pleasure of the enjoyment of food.</p>
        <p>This structured program contain the following elements:</p>
        <ol>
            <li>
                <h4>One-on-One Coaching</h4>
                <h5>Enhance your results with personal coaching: </h5>
                <ul>
                    <li>Online coaching or in person for your convenience.</li>
                    <li>Personal coaching is a proven way to lose 3X more weight than dieting on your own§ so it’s included in your program.</li>
                    <li>Your coach can even help you to create what’s on your plate, incorporating your favourite foods and even help you with finding healthy but tasty substitutes.</li>
                    <li>Our quality nutritional program empowers you to make great food choices. All of the taste plus all of the health benefits!</li>
                    <li>Encourages healthy nutritional habits to eat consistently well.</li>
                    <li>Promotes an Empowered Mindset.</li>
                    <li>Provides guidance on Lifestyle changes</li>
                    <li>Offers accountability and Support.</li>
                </ul>
            </li>
            <li>
                <h4>Mindful eating</h4>
                <h5>Improve results with Mindful eating:</h5>
                <ul>
                    <li>Quit diets and the accompanying food guilt</li>
                    <li>Become aware of what drives your food choices</li>
                    <li>Address emotional eating & stress eating</li>
                    <li>Lose weight and improve your confidence</li>
                </ul>
            </li>
            <li>
                <h4>Plant Power</h4>
                <h5>We Utilize the incredible power of plants to boost your weight loss to the Max</h5>
                <ul>
                    <li>Regulate hormonal levels with Natural formulations and weight loss power foods to jumpstart your weight loss fast.</li>
                    <li>Control cravings and equalize blood sugar levels.</li>
                    <li>Kickstart your metabolism for an optimal and steady burn of energy.</li>
                    <li>Feel energized and focused throughout the day.</li>
                    <li>Bring your body back into balance naturally</li>
                </ul>
            </li>
            <li>
                <h4>Powerful Science</h4>
                <h5>We optimize weight loss with evidence-based science and a science -backed plan;</h5>
                <ul>
                    <li>Medically proven and supported by Evidence based research our approach to weight loss is proudly one of the top four programs in the world to consider currently for weight loss.</li>
                    <li>It focuses on Quality of nutrition</li>
                    <li>Proven to help you lose up to 17 pounds in your first 4 weeks!‡</li>
                    <li>Our weight loss program leverages the science of intermittent fasting.</li>
                    <li>During the first 4 weeks only, the average weight loss in study was 13 lbs. for those who completed the program.</li>
                    <li>Holds demonstrable and proven Weight loss benefits and health benefits</li>
                    <li>And is also Sustainable</li>
                </ul>
            </li>
            <li>
                <h4>Taste the transformation with Foods You will Love</h4>
                <ul>
                    <li>Improve your satiation and satisfaction!</li>
                    <li>Help make weight loss easier with great-tasting, hassle-free fat burning foods!</li>
                    <li>Our dedicated team of chefs, culinary experts and nutritionists are always working to develop healthy, great-tasting meals and recipes.</li>
                    <li>Enjoy delicious foods you love while slimming and taking your health back!</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
