{% load static %}

<div class="svc-section svc-support">
    <div class="row align-items-start g-4 g-lg-5">
        <div class="col-lg-6 order-lg-1 order-2">
            <h2>Lose weight with support, self-care &amp; figure pampering</h2>
            <h4 class="svc-subhead">Change with support</h4>
            <p>Here at PhytoLean we value natural, gentle yet effective approaches to weight loss. We value powerful, whole, natural foods. We are doing things differently, and therein lies the reason for our success.</p>
            <p>It has been demonstrated that those who work with accountability partners and coaches lose three times more weight than people trying to diet on their own! For this reason our personal consultants play a huge part in our members' weight loss journeys and their successes.</p>

            <button class="expand-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#moreSupport" aria-expanded="false">
                Read more about our approach <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse" id="moreSupport">
                <p>Our aim is optimal body balance of all your systems, organs, metabolism, mindset, hormone levels as well as your weight. We help busy working moms invest in themselves and reclaim their beauty, health and confidence with self-care and figure pampering.</p>
                <p>We recognize all the best diet and lifestyle advice in the world is meaningless if the programme does not support behavioural modification leading to the change in your life that you desperately crave. Our programme incorporates psychological principles from the transtheoretical or stages of change model to support you in your transformation process.</p>
                <p>We do not simply offer advice, meal plans or shopping lists. We offer a comprehensive support programme for change. We know change is messy and involves setbacks and relapses. We recognize that as part of the process. Failure is feedback. Setbacks are opportunities. And we will never ever guilt or shame you for that and neither should you.</p>
                <p>Our skilled coaches' compassion, expertise and support are key factors in the PhytoLean program's unique approach to weight loss success. With a dedicated and knowledgeable online or in-person weight loss coach by your side, someone will always be there for you on the good days to celebrate your successes and on the hard days to support and motivate you to stay on track.</p>
                <p>Clients using our weight loss program approach (over 100,000 clients to date) have had massive successes in losing weight permanently by incorporating nutrition, exercise, and mindset coaching into their lives.</p>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
            <img class="img-fluid svc-img" src="{% static 'main/img/services/pexels-george-milton-6953859.jpg' %}" alt="Support and self-care"/>
        </div>
    </div>

    <div class="row align-items-center g-4 g-lg-5 mt-3">
        <div class="col-lg-4">
            <img class="img-fluid svc-img" src="{% static 'main/img/services/toa-heftiba-DMDIYvGzLuo-unsplash.jpg' %}" alt="Self-care for women"/>
        </div>
        <div class="col-lg-8">
            <div class="svc-callout">
                <h4>Lunchtime Self-Care for Busy Women</h4>
                <p>So many women have spent years or decades caring for others, losing touch with their own bodies and needs in the process. Self-care isn't selfish. When we take the time to prioritize our own wellbeing, we are more effective at taking care of others anyway.</p>
                <p>Our Nationwide lunchtime online consulting initiative gives busy women the option to schedule a weight loss session online during their lunch break. We have helped clients worldwide in over 16 countries to lose weight, gain confidence and reclaim the healthy, active lifestyles they want to live.</p>
                <p>Not only will your online weight loss coach help you during weight loss, but they can also help with your weight maintenance goals after you've lost the weight through our maintenance program.</p>
            </div>

            {% with txt='Schedule your discovery session with us during your lunchtime now.' %}
                {% include 'main/snippets/schedule_btn.html' with txt=txt %}
            {% endwith %}
        </div>
    </div>
</div>
