{% load static %}

<div class="row">
  <div class="col">
    <h3>Cream of Broccoli Soup</h3>
    <img class="float-right pl-5 pb-5" src="{% static '/main/img/resources/brocolli/broccoli.jpg' %}"/>
    <p>Makes 8 servings</p>

    <h4>Ingredients:</h4>
    <p>
    <ul>
      <li>4 1/4 cups low-sodium vegetable broth</li>
      <li>1 onion, chopped</li>
      <li>2 carrots, thinly sliced</li>
      <li>2 celery stalks, thinly sliced</li>
      <li>4 garlic cloves</li>
      <li>6 cups broccoli florets, cut into bite-size pieces (roughly 2 heads)</li>
      <li>1/2 cup cannellini beans or great northern beans</li>
      <li>1 teaspoon sea salt</li>
      <li>1/2 teaspoon ground black pepper</li>
      <li>Juice of 1/2 lemon</li>
    </ul>
    </p>

    <h4 class="mt-3">Directions:</h4>
    <p>
    <ol>

      <li>Heat 1/4 cup vegetable broth in a stockpot over medium heat. Add the onions, carrot, and celery and sauté for 5 minutes until onions are translucent and carrots are soft. Add the garlic and sauté 1 additional minute until fragrant, adding more vegetable broth as needed.</li>
      <li>Add the broccoli, beans, and 4 cups vegetable broth to the pot. Cover and bring to a boil, reduce to a simmer, and let cook for 6 minutes until the broccoli is fork tender.</li>
      <li>Add salt, pepper, and lemon juice and stir to combine. Use an immersion blender or transfer the soup to a blender; blend until smooth and creamy.</li>
    </ol>
    Please feel free to tailor this recipe to suit your individual dietary needs.
    </p>
    <h4 class="mt-5">Nutrition Facts</h4>
    <p>
      Per serving (1 Cup):<br/>
      Calories: 58; Fat: 0 g; Saturated Fat: 0 g; Calories From Fat: 7%; Cholesterol: 0 mg; Protein: 3 g; Carbohydrate: 12 g; Sugar: 3 g; Fiber: 4 g; Sodium: 437 mg; Calcium: 54 mg; Iron: 1 mg; Vitamin C: 45 mg; Beta-Carotene: 1,916 mcg; Vitamin E: 2 mg
    </p>

    </p>

    <h6>Source:
      <small>Recipe by Dustin Harder of VeganRoadie.com</small>
    </h6>

  </div>
</div>


<br class="clearfix"/>
