{% load static %}

<div class="row py-5">
    <div class="col px-5 pt-3">

        <h2>Forks over Knives</h2>
        <p>Through an examination of the careers of American physician Caldwell Esselstyn and professor of nutritional biochemistry T. Colin Campbell, Forks Over Knives claims that many diseases, including obesity, cardiovascular diseases, and cancer, can be prevented and treated by eating a whole-food, plant-based diet, avoiding processed food and food from animals. The film includes an overview of the 20-year China–Cornell–Oxford Project that led to Professor Campbell's findings, outlined in his book The China Study (2005), in which he suggests that coronary artery disease, diabetes, obesity, and cancer can be linked to the Western diet of processed and animal-based foods (including dairy products).</p>
        <iframe id="odysee-iframe" width="1120" height="630" src="https://odysee.com/$/embed/forksoverknives/48c6cb60ade72537b66fd2a663b889ab474ac75e?r=9e6U3XDmfrGVBiaga3TyLJTBKyhMsg4G" allowfullscreen></iframe>

    </div>
</div>
