{% extends 'main/base.html' %}
{% load static %}

{% block title %}More About Us - {{ block.super }}{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">


        {% include 'main/about_snippets/in_the_name.html' %}

        {% include 'main/about_snippets/mission.html' %}

        {% include 'main/about_snippets/one_healthy_world.html' %}

        <hr/>
        {% include 'main/about_snippets/collabs.html' %}

        <hr/>
        {% include 'main/about_snippets/affils.html' %}

        <hr/>
        {% include 'main/about_snippets/awards.html' %}

        <hr/>
        {% include 'main/about_snippets/tribs.html' %}

        <hr/>
        {% include 'main/about_snippets/approach.html' %}

    </div>
    <br/>

    {% include 'main/footer.html' %}
</div>

{% endblock %}
