{% extends 'main/base.html' %}
{% load static %}

{% block title %}Get In Touch - {{ block.super }}{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">

        <div class="row py-5">
            <div class="col">


                Get in touch /  Lets connect

                Get in Touch with our friendly caring team excited to get you started on your weight loss yourney.

                Thank you for your inquiry. We value every inquiry and we want to personally respond to each e-mail. As we might be in consultation, training or presenting workshops to our wonderful clients, please allow us to respond within 24 business hours. Alternatively, if you do not need personal assistance with a matter you can book your Free consultation here online or leave a message here. We will get back to you as soon as possible. Contact

                e-mail:

                Website:

                Phone:

                Social media handles:

                Whatsapp:

                Telegram

                Facebook

                Instagram:

                Weight Loss Hartebesspoortdam

                If you are in the area and want to see us in person at our weight loss consultancy, please shoot us a message! We would love to hear from you. We are proudly located in Harties to serve our local community in the beautiful area of Hartebesspoortdam and surrounds. Located in Schoemansville near Collonial arch, we assist locals in reclaiming the body of their dreams along with our amazing online clients. So lets connect without delay and get you started today.

                Photo


                Map?
            </div>
        </div>

        <br/>

        {% include 'main/footer.html' %}
    </div>
</div>

{% endblock %}
