{% extends 'main/base.html' %}
{% load static %}

{% block title %}Events - {{ block.super }}{% endblock %}

{% block content %}

    <div class="container-fluid">

        {% include 'main/navbar.html' with nav=nav %}

        <div class="container-fluid big-body">

            <div class="row">
                <div class="col">
                    <h2>Events</h2>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 box-green">
                    <a href="{% url 'event_20230819_fitness' %}">
                        <h4>Food for Fitness</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/230819_fitness/fitnessplate.jpeg' %}"/></p>
                    </a>
                    <p><strong>Unlock Your Peak Performance with Plant-Based Power!</strong></p>
                    <p>
                        Date: 19 Augustus 2023<br/>
                        Where: Online (Zoom)
                    </p>
                    <p><small><a href="{% url 'event_20230819_fitness' %}">More info...</a></small></p>
                </div>
            </div>



            <div class="row mt-5">
                <div class="col">
                    <h3>Past Events</h3>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 box-lightgreen">
                    <a href="{% url 'event_20230725_shalom' %}">
                        <h4>Kos Teater (Shalom)</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/puppet_show/2023-07-25-front.jpg' %}"/></p>
                    </a>
                    <p><strong>'n Pret- en Inligtingsvolle poppe spel oor die maak van gesonde voedselkeuses.</strong>
                    </p>
                    <p>
                        Datum: 25 Julie 2023<br/>
                        Waar: Lede in Christus Kerk, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_20230725_shalom' %}">Lees meer...</a></small></p>
                </div>
                <div class="col-4 box-green">
                    <a href="{% url 'event_202306_poppe' %}">
                        <h4>Kos Teater (Biblioteek)</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/puppet_show/2023-06-27_small_opt.jpg' %}"/></p>
                    </a>
                    <p><strong>'n Pret- en Inligtingsvolle poppe spel oor die maak van gesonde voedselkeuses.</strong>
                    </p>
                    <p>
                        Datum: 27 Junie & 3, 10, 17 Julie 2023<br/>
                        Waar: Schoemansville Biblioteek, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_202306_poppe' %}">Lees meer...</a></small></p>
                </div>
                <div class="col-4 box-lightgreen">
                    <a href="{% url 'event_202306_puppet' %}">
                        <h4>Food Theatre (Library)</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/puppet_show/2023-07-03_small_opt.jpg' %}"/></p>
                    </a>
                    <p><strong>A fun and informative puppet show about making healthy food choices</strong></p>
                    <p>
                        Date: 27 Junie & 3, 10, 17 Julie 2023<br/>
                        Where: Schoemansville Library, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_202306_puppet' %}">Read more...</a></small></p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 box-yellow">
                    <a href="{% url 'event_202303' %}">
                        <h4>Nutrition Essentials</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/202306_kickstart/event.jpg' %}"/></p>
                    </a>
                    <p><strong>Start your health journey!</strong></p>
                    <p>
                        Date: 22 June &amp; 6, 13, 20 July 2023<br/>
                        Venue: Schoemansville Library, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_202303' %}">Read more...</a></small></p>
                </div>
                <div class="col-4 box-lightgreen">
                    <a href="{% url 'event_20230612_poppe' %}">
                        <h4>Kos Teater (GHS)</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/puppet_show/2023-06-27_ghs.jpg' %}"/></p>
                    </a>
                    <p><strong>'n Pret- en Inligtingsvolle poppe spel oor die maak van gesonde voedselkeuses.</strong>
                    </p>
                    <p>
                        Datum: 12 Junie 2023<br/>
                        Waar: Laerskool GHS, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_20230612_poppe' %}">Lees meer...</a></small></p>
                </div>
                <div class="col-4 box-yellow">
                    <a href="{% url 'event_20230609_poppe' %}">
                        <h4>Kos Teater (Agape)</h4>
                        <p><img class="img-fluid" src="{% static 'main/img/events/puppet_show/2023-06-09_opt.jpg' %}"/></p>
                    </a>
                    <p><strong>'n Pret- en Inligtingsvolle poppe spel oor die maak van gesonde voedselkeuses.</strong>
                    </p>
                    <p>
                        Datum: 9 Junie 2023<br/>
                        Waar: Agape Kleuterskool, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_20230609_poppe' %}">Lees meer...</a></small></p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4 box-green">
                    <a href="{% url 'event_202306' %}">
                        <h4>Kickstart Your Health</h4>
                        <p><img class="img-fluid"
                                src="{% static 'main/img/events/202303_nutrition_essentials/event.jpg' %}"/></p>
                    </a>
                    <p><strong>Learn how to make healthy meals!</strong></p>
                    <p>
                        Date: 5, 12, 19, 26 March 2023<br/>
                        Venue: Schoemansville, Hartbeespoort
                    </p>
                    <p><small><a href="{% url 'event_202306' %}">Read more...</a></small></p>
                </div>
            </div>


        </div>
        <br/>

        {% include 'main/footer.html' %}
    </div>

{% endblock %}
