{% extends 'main/base.html' %}
{% load static %}

{% block title %}Events - {{ block.super }}{% endblock %}

{% block content %}

<div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">

        <div class="row">
            <div class="col">
                <h2>Events</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h3>Past Events</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4 box-darkgreen">
                <a href="{% url 'event_202306' %}">
                    <h4>Nutrition Essentials</h4>
                    <p><img class="img-fluid" src="{% static 'main/img/events/202306_nutrition_essentials/event.jpg' %}"/></p>
                </a>
                <p><strong>Learn how to make healthy meals!</strong></p>
                <p>
                    Date: 5, 12, 19, 26 March 2023<br/>
                    Venue: Schoemansville, Hartbeespoort
                </p>
                <p><small><a href="{% url 'event_202306' %}">Read more...</a></small></p>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>

    </div>
    <br/>

    {% include 'main/footer.html' %}
</div>

{% endblock %}
