{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home of Weight Loss - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">

      <div class="row px-5 pb-1">
        <div class="col">
          <hr/>
          <h3 class="muted">Welcome to the home of weight loss, and the start of your weight loss success journey. We are glad to have you here!</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col position-relative">
          <h1 class="position-absolute home-cvr-txt">
            PhytoLean
            <br/><br/>
            The weight loss programme that will help you draw all the looks in the room!</h1>
          <img class="img-fluid" src="{% static 'main/img/home/pexels-andrea-piacquadio-3764492.jpg' %}">
        </div>
      </div>


      <div class="row p-5">
        <div class="col">
          <h3>A recent global study published in the Lancet, a London-based medical journal, suggests that 70% of adult South African women and nearly 40% of men are overweight or obese. Even among children, a quarter of girls and a fifth of boys are at greater risk of ill-health, from diabetes to heart disease. Don’t become a statistic! Take your power back and regain your desired weight and health today. Do not delay! Contact us today for a Health assessment and start your journey to a new you with absolute Weight freedom.</h3>
        </div>
      </div>


      {% include 'main/home_snippets/discover_the_power.html' %}

      {% include 'main/home_snippets/summaries.html' %}

      {% include 'main/home_snippets/different_and_unique.html' %}

      {% include 'main/home_snippets/dedication.html' %}

      {% include 'main/home_snippets/our_approach.html' %}

      {% include 'main/home_snippets/benefits.html' %}

      {% include 'main/home_snippets/rejuvenation.html' %}

      {% include 'main/home_snippets/desire.html' %}

      {% comment %}
      <div class="row py-5" style="background: var(--clr-lightbrown)">
        <div class="col">
          <h3 class="text-capitalize">Stop stress eating from today on and reclaim your life, happiness, confidence and figure. The longer you wait, the more you pile on the weight.</h3>
          2 references and CTA
          <h3></h3>
        </div>
      </div>
      {% endcomment %}

      {% include 'main/home_snippets/setting_the_stage.html' %}


      <br/>

    </div>

    {% include 'main/footer.html' %}
  </div>
{% endblock %}
