{% extends 'main/base.html' %}

{% block title %}How It Works - {{ block.super }}{% endblock %}

{% block content %}

  <h3>How It Works</h3>
  <p>1:1 coaching package</p>
  <p>sell programme</p>
  <p>subscribers learn how the program will benefit them</p>

  <dl>
    <dt>packages</dt>
    <dd>basic phytolean holistic weight loss program</dd>
    <dd>specialised phytolean holistic weight loss program</dd>
    <dd>accelerated/advanced phytolean holistic weight loss program</dd>
    <dd>maintenance phytolean holistic weight loss program</dd>
  </dl>

{% endblock %}
