{% load static %}
<nav class="navbar navbar-expand-lg phyto-nav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="nav-logo" src="{% static 'main/img/phytolean_logo.png' %}" alt="PhytoLean"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'events' %}active{% endif %}" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'foryou' %}active{% endif %}" href="{% url 'foryou' %}">Why this is for you</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nav == 'faq' %}active{% endif %}" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-cta {% if nav == 'contact' %}active{% endif %}" href="{% url 'getintouch' %}">Get In Touch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
