<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">PhytoLean</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if nav == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
        </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'howitworks' %}active{% endif %}" href="{% url 'howitworks' %}">How It Works</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'events' %}active{% endif %}" href="{% url 'events' %}">Transformative Workshops, Courses and Events</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'clients' %}active{% endif %}" href="{% url 'clients' %}">Happy Clients / Testimonials</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'resources' %}active{% endif %}" href="{% url 'resources' %}">Empowering Resources</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link {% if nav == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a>#}
{#        </li>#}
      </ul>
    </div>
  </div>
</nav>
