{% extends 'main/base.html' %}

{% block title %}{{ title }} - Empowering Resources - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include 'main/navbar.html' with nav=nav %}

        <div class="container-fluid big-body">

            {% include snippet %}

            <br/>
            <p><a href="{% url 'resources_index' %}" class="btn btn-secondary">Back</a></p>
        </div>

        <br/>
        {% include 'main/footer.html' %}
    </div>
{% endblock %}
