{% extends 'main/base.html' %}

{% block title %}What we do - {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">

    {% include 'main/navbar.html' with nav=nav %}

    <div class="container-fluid big-body">

        <div class="row" style="background-color:#ccc">
            <div class="col">
                <h3>Specialization and Customization</h3>
                <p>We include different fields of specialization and customize your individualize
                    program to address YOUR health concerns and your weight loss needs and
                    goals.</p>
                <p>Areas of special focus/interest and specialization include:</p>
                <ul>
                    <li>Clinical weight loss</li>
                    <li>Eating Psychology</li>
                    <li>Behaviour change nutrition</li>
                    <li>Immune Boosting Nutrition</li>
                </ul>
                <p>Other areas we can support you in:</p>
                <ul>
                    <li>Fertility Nutrition</li>
                    <li>Optimal brain development and mental performance</li>
                    <li>Child and family nutrition</li>
                    <li>Vegan and Vegetarian Nutrition</li>
                    <li>Fatigue and Sleep Management</li>
                    <li>Food allergies and intolerances</li>
                    <li>Hormonal and metabolic issues</li>
                    <li>Lifestyle Medicine</li>
                    <li>Gut health Restoration</li>
                    <li>Mental health</li>
                    <li>Stress management</li>
                    <li>Advanced skincare and repair nutrition</li>
                    <li>Dietary supplement advice</li>
                    <li>Natural chronic pain management</li>
                    <li>Nutrition for disease and cancer prevention</li>
                    <li>Anti-aging and nutritional therapy for longevity</li>
                </ul>
                <p>It is common to see a combination of the above mentioned topics experienced by clients. For example it is common to see a client struggling with weight loss, with bad skin, experiencing a lot of digestive difficulties while also trying to conceive a baby.  The person in totality needs to be addressed.  As interconnected health issues can exist at the same time, we incorporate all aspects of our clients lives and holistically assess their current health status. For interconnected health issues, a well-structured step by step integrative approach is taken. This means ALL aspects of your life are considered, taken into account, integrated or taken into consideration when developing a personalized programme to reach optimal results. We make use of cutting-edge techniques and to offer you the best possible weight loss experience and solutions.</p>
            </div>
        </div>

    </div>

    <br/>

    {% include 'main/footer.html' %}
</div>
{% endblock %}
