{% load static %}

<div class="row py-5">
    <div class="col-12 px-5 pt-3">

        <div class="row pt-4">
            <div class="col-6">
                <h2 class="pb-3">Learn more about how our programme will benefit you.</h2>
                <p>This programme was especially designed for busy working moms in need of a sustainable weight loss solution that does not require obsessive, restrictive dieting or exhaustive exercise programmes. We know as a working mom that life is demanding enough, and you do not need any more demands on your plate!  Therefore we make it easy for you to stick to the program and to implement small manageable changes along the way to get real results.</p>
                <h3 class="py-3">14 Reasons why you should join our program</h3>
                <ul>
                    <li>We provide you with practical hacks and food prep tricks to prepare nourishing and healthy meals for you and your family on your budget. Promoting health and wellness with every bite, the easy way.</li>
                    <li>Save hours out of your busy week on food planning, shopping and preparation. We won’t burden you with our recipes, shopping lists and meal plans, we promise.</li>
                    <li>We help you explore and address underlying reasons for stress eating, emotional eating, over or undereating. We get to the root cause of your weight gain; we do not simply address the symptom. This way, setting the stage for permanent change and lasting results.</li>
                    <li>We assist in implementing highly effective strategies for dealing with unplanned snacks, binging and cravings. Helping you resist unnecessary temptations!</li>
                    <li>We work with your food preferences, allergies and food sensitivities suggesting healthy alternatives and substitutes with all of the taste and more of the goodness.</li>
                    <li>We implement proven methods and strategies with assessment tools and tracking sheets to get you excited about your progress and stay on top of changes.</li>
                    <li>Explore powerful approaches to deal with having a “sweet tooth” or all the food culprits that’s piling on the weight.</li>
                    <li>We provide Lifestyle health coaching that have proven to be highly effective at weight reduction and improving health.
                        <small><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6125027/" target="_blank">ref <i class="bi bi-box-arrow-up-right"></i></a></small>
                    </li>
                    <li>Take the headache out of portion control with our powerful templates and straightforward educational tools. We guarantee stress-free eating without ever having to count calories!  We love simple and effortless.</li>
                    <li>We help you develop a backup plan and strategy for eating out, parties or social gatherings as not to sabotage your results.</li>
                    <li>No need to punish yourself in a gym chasing the results you are after. It is possible to do less and still achieve your goals! Body balance the painless way.</li>
                    <li>Our programme is natural and supports health and wellbeing. Medically proven and supported by evidence based research our approach to weight loss is proudly one of the top four programs in the world to consider currently for weight loss.</li>
                    <li>Eat until satiated! We are not a deprivation or starvation diet. We believe you should never feel hungry. We do not focus on eating less but eating better.</li>
                    <li>We provide the Accountability and Support for you to achieve incredible results! We are conveniently available online and in our chat application. We are here for you every step of the way!</li>
                </ul>
            </div>
            <div class="col-6">
                <img class="img-fluid" src="{% static 'main/img/home/ronise-da-luz-Ux_szkSExrs-unsplash.jpg' %}">
            </div>
        </div>

        {% with txt='Stop stress eating from today on and regain your life, happiness, confidence and figure! The longer you wait, the more you pile on the weight! Act now as a limited amount of spots are available.' %}
            {% include 'main/snippets/schedule_btn.html' with txt=txt %}
        {% endwith %}

    </div>
</div>
