{% load static %}

<div class="row p-5" style="background: var(--clr-lightblue)">
    <div class="col-12 pt-3">
        <h2 class="pb-4">Rejuvenation Through Beautifying Nourishment From The Inside Out</h2>

        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="{% static 'main/img/home/pexels-andrea-piacquadio-3771835.jpg' %}"/>
            </div>
            <div class="col-6">
                <p class="text-justify">Women today experience extreme pressure about their
                    looks and appearance. According to the 2016 Dove Global Beauty and confidence
                    Report; <span style="color: var(--clr-deepocean2); font-size: 24px;"><strong>79% of young girls and 85% of women have opt out of important life
                    events because they felt they didn’t look good enough. Furthermore 81% of
                    women feel dissatisfied with their bodies globally. But there is hope.</strong></span></p>

                <p class="text-justify">Imagine how good it will feel to step out unto the beach
                    or into the pool in full confidence wearing your bathing suit. Completely
                    comfortable with a healthy self-image and lots of self-love. How good will it
                    feel to look at yourself in the mirror with complete acceptance, in better
                    health, with glorious skin and a figure that reflects that wellness and
                    wellbeing? </p>
                <p class="text-justify">Want help becoming the healthiest, empowered, most
                    lovely, happiest version of you? Ready to steal every glance in the room?
                    Improve your confidence and body image? Gain energy, vitality and feel
                    comfortable in your own skin? Imagine how good it would feel to have
                    confidence wearing your favorite outfit. </p>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-6">
                <p class="text-justify">It is for this reason that we help busy working women
                    with kids reclaim their beauty and take their lives back by investing in
                    themselves to regain their health, confidence and figures. </p>
                <p class="text-justify">When girls and women are empowered and given the skills
                    and tools to transform their world, mindset and bodies, they usually do. Women
                    are dynamite. When taught to develop high body esteem and positive self-image,
                    they are more likely to believe they are beautiful. But even more importantly,
                    they are less likely to feel the pressure to be beautiful because they value
                    themselves outside of the way they look.</p>
                <p class="text-justify">In other words, by promoting positive body image and
                    high self-esteem, coupled with nourishing foods and positive lifestyle
                    changes; we have the opportunity for a profound positive effect on the lives
                    of women around the world.</p>
                <p class="text-justify">We here at PhytoLean promote self-love through positive
                    body image and mindful eating. We believe in total transformation, body mind
                    and soul to release the best version of YOU. With a holistic approach, we
                    promote body balance and wellbeing in all areas of your life. We make use of
                    beautifying nourishment that rejuvenate and rebuild from the inside out. We
                    promote anti-aging and longevity . We support behaviour modification through
                    change phycology and have mastered nutrition science and behavior-change
                    coaching. We follow a structured, individualized program to personally mentor
                    you to discover effective, proven strategies to deliver sustainable results.
                    This is the industry’s first comprehensive program of its kind—and the only
                    one to incorporate holistic aspects of “deep health” to support all areas of
                    our clients lives on the wellness continuum.</p>
            </div>
            <div class="col-6 pt-5">
                <img class="img-fluid" src="{% static 'main/img/home/pexels-andrea-piacquadio-3756681.jpg' %}"/>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-4">
                <img class="img-fluid" src="{% static 'main/img/home/fan-lyu-SnifKgfdu5c-unsplash.jpg' %}"/>
            </div>
            <div class="col-1"></div>
            <div class="col-7">
                <h2 class="py-3">3 Reasons To Choose Our Weight Loss Programme:</h2>
                <p class="text-justify">The originators of behavior-change nutrition coaching
                    have helped over 100,000 clients since 2005 get healthy, break through mental
                    barriers, take their lives back and get into the best shape of their lives. We
                    are proud to utilize this proven and practical system developed by the
                    creators of the number one recommended nutrition coaching certification in the
                    world by Precision Nutrition. Our approach is Science-backed, evidence based
                    and peer-reviewed.
                    Our coaching method recently validated in 3 peer-reviewed
                    studies <small>(<a href="https://www.sciencedirect.com/science/article/pii/S2214782916300069" target="_blank">ref <i class="bi bi-box-arrow-up-right"></i></a>).</small> This means everything you’ll learn is backed by science. We utilize
                    cutting edge research and technology to keep you accountable and provide
                    support.</p>
                <p class="text-justify">Hungry for a proven way to slim down without
                    re-arranging your world in one step to do so? We have good news, 94% of
                    customers rated our program better than anything else out there. We are also
                    proud to announce that the program we use was rated number one by customers
                    for satisfaction, reputation, quality, and effectiveness. The highlight of
                    2021 for us was being nominated as a finalist for the Centre of Excellence
                    2021 awards, and then consequently awarded the winner.</p>
                <p class="text-justify">Bottom line: If you want to learn how to slim naturally
                    from the best in the field, you’ve come to the right place. We are here to
                    help you find your own version of beauty, strength and confidence from the
                    inside out.</p>
            </div>
        </div>

        {% with txt='Schedule a free 30 min discovery session to discuss a plan to kickstart your weight loss!' %}
            {% include 'main/snippets/schedule_btn.html' with txt=txt %}
        {% endwith %}

    </div>
    <!--        <div class="col-5 px-5 pt-3 align-self-center" style="background-color: mediumturquoise">-->
    <!--        </div>-->
</div>
