{% load static %}

<div class="row py-5">
    <div class="col-4 px-5 pt-3">
        <p class="text-center"><img class="img-fluid" src="{% static 'main/img/crc-mtn.png' %}"></p>
        <h3 class="py-4">One-on-One Weight Loss Consultation</h3>
        <p class="text-justify">We offer in person and online weight loss and behavior-change nutrition consulting and coaching. Meet with your dedicated weight loss coach online, on the phone, or in person to personalize a plan just for you. Receive personalized feedback, accountability and support along your weight loss journey. We're always here for you on your schedule</p>
    </div>
    <div class="col-4 px-5 pt-3">
        <p class="text-center"><img class="img-fluid" src="{% static 'main/img/crc-heart.png' %}"></p>
        <h3 class="py-4">Ongoing Accountability and Support</h3>
        <p class="text-justify">Talk through challenges, identify winning strategies for you and get the support you need to stay focused on your goal weight. You are the boss and in charge of your transformation. We run workshops on topics providing you with a space to learn, reflect and connect with a like-minded weight loss community.  Join our Facebook exclusive VIP members club. We only work with a small amount of members at a time to ensure quality service delivery and the personal touch when it comes to individualized programmes. Spots are limited, so reserve your spot now!</p>
    </div>
    <div class="col-4 px-5 pt-3">
        <p class="text-center"><img class="img-fluid" src="{% static 'main/img/crc-bubble.png' %}"></p>
        <h3 class="py-4">Reach Your Goals &amp; Maintain Tour Weight</h3>
        <p class="text-justify">Track your progress through advanced assessment methods and surveys and learn the skills you need to succeed. Maintain your weight loss and promote “deep health’ holistically.</p>
    </div>
</div>
