{% load static %}

<div class="row py-5">
    <div class="col px-5 pt-3">
        <h2>Affiliations and Associations</h2>
        <p>We are Nationally and Internationally registered and board certified in the field of Natural Health, Clinical weight loss, Functional and integrative nutrition,  life coaching, behavioral change nutritional coaching and holistic counseling.</p>
        <img class="gray-img" src="{% static 'main/img/affiliations/aschp.png' %}" style="width:400px"/>
        <img class="gray-img" src="{% static 'main/img/affiliations/ianhp_logo.png' %}" style="width:400px"/>
        <img class="gray-img" src="{% static 'main/img/affiliations/reg_naturo.png' %}" style="width:400px"/>
        <img class="gray-img" src="{% static 'main/img/affiliations/cma_reg.png' %}" style="width:400px"/>
    </div>
</div>
