{% load static %}

<div class="row py-5">
    <div class="col px-5 pt-3">
        <h2> Awards &amp; Special Recognitions</h2>
        <p>We are proud to have been recognized internationally and awarded accordingly, Nominated as a finalist for the Centre of Excellence 2021 awards  and then consequently  awarded  the winner. Our programme was also rated as top three by consumers . 94% of customers rated our program better than anything else out there. We are also proud to announce that the program we use was rated number one as best by customers for satisfaction, reputation, quality, and effectiveness.</p>
        <img class="gray-img" src="{% static 'main/img/awards/CoE Awards Logo Finalist 2021.jpg' %}" style="width:400px"/>
        <img class="gray-img" src="{% static 'main/img/awards/CoE Awards Logo Winner 2021.jpg' %}" style="width:400px"/>
        <img class="gray-img" src="{% static 'main/img/awards/best_rated.png' %}"/>
    </div>
</div>
