{% load static %}

<div class="row py-5">
    <div class="col px-5 pt-3">
        <h2>Collaborations and Partnerships</h2>
        <p>We collaborate in partnerships with higher learning institutions and organizations to bring you the best in nutritional knowledge, behaviour, change and eating phycology from experts around the globe.</p>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/jmsu.png' %}" style="width:150px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/nutrition_facts.png' %}" style="width:300px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/dut.png' %}" style="width:225px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/wellness.png' %}" style="width:275px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/one_education.png' %}" style="width:250px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/pn.png' %}" style="width:275px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/world.png' %}" style="width:200px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/transformation.png' %}" style="width:275px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/nwu.png' %}" style="width:225px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/health_sciences.png' %}" style="width:275px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/tshwane.png' %}" style="width:150px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/new_eden.png' %}" style="width:275px"/>
        <img class="gray-img py-3" src="{% static 'main/img/collabs/physicians.png' %}" style="width:225px"/>

    </div>
</div>
