{% load static %}

<div class="row py-5 ocean-cover">
    <div class="col">
        <h3 class="pb-4">Our Companies Vision and Mission Statement:</h3>
        <p>We are on a mission to attain your weight loss vision! As a successful weight loss and wellness consultancy we are committed to excellence because we believe in the value of natural healing and a natural holistic lifestyle.</p>
        <p>We use the therapies, modalities, nutritional and wellness approaches ourselves and we walk our talk. For this reason we know and have experienced the benefits, results and gains of this way of life first hand. </p>
        <p>We care about our clients and their health and well-being. We are here to really listen empathetically; help you identify your health and weight loss goals and to support and guide you towards the results you wish to obtain! We put our clients agenda and needs first. We create a strategic action plan that you will actually follow, measuring your progress, adjusting where necessary. Helping you achieve lasting changes in your health and life. We believe self-awareness, self-leadership, self-care and ongoing personal and professional growth must be part of our coaches and clients routine. Our coaches are highly skilled and competent to professionally and ethically coach within their scope of practice.</p>
        <p> We have a positive motivating approach to inspire, empower and encourage. We understand that anything can be achieved with the right attitude, and with persistent, committed and motivated effort. In reality small changes creates big results.</p>
        <p>In essence our business embodies dynamic health, inspired living and personalized coaching.</p>

        {% with txt='Schedule a free 30 min discovery session to discuss a plan to kickstart your weight loss!' %}
            {% include 'main/snippets/schedule_btn.html' with txt=txt %}
        {% endwith %}
    </div>
</div>
