{% load static %}

<div class="row py-5">
    <div class="col pt-3">
        <h2>Coaching Tributes &amp; Accolades</h2>
        <img class="gray-img" src="{% static 'main/img/accolades/master_life_coach.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/health_and_nutrition.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/group_life.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/precision_network.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/professional_life_coach.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/life_purpose.png' %}"/>
        <img class="gray-img" src="{% static 'main/img/accolades/relationship_workshop.png' %}"/>
    </div>
</div>
