@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
    --clr-grain: #d7cec7;
    --clr-blackboard: #565656;
    --clr-oxblood: #76323F;
    --clr-tan: #C09F80;
    /*--clr-teal: #B4D0E7;*/
    --clr-green: rgb(44, 154, 119);
    --clr-lightblue: #E1F2F7;
    --clr-lightbrown: rgb(240, 231, 227);
    --primary-clr: var(--clr-grain);
    --secondary-clr: var(--clr-tan);
    --clr-mistyocean: rgb(191, 221, 223);
    --clr-deepocean: rgb(112, 189, 194);
    --clr-forestgreen: rgb(154, 183, 170);
    --clr-phytolean: rgb(22, 144, 105);
    --clr-groenenblou: rgb(200, 240, 240);
    --clr-watertree: rgb(161, 211, 222);
    --clr-plantwhite: rgb(238, 249, 245);
    --clr-mupink: rgb(252, 249, 252);
}

html, body {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    /*background: var(--clr-brown);*/
}

.oswald {
}

.main-nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Open sans', sans-serif;*/
    display: block;
}

.img-70 {
    height: 70vh
}
.img-stretch {
    width: 100%;
    height: auto;
}

.container-fluid {
    padding: 0;
}
.big-body {
    min-height: 60rem;
    padding: 1rem;
}
.half-high {
    height: 140px;
    width: auto;
}

.main-nav {
    /*background-color: var(--secondary-clr);*/
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    padding: 0 1.7rem;
}

.navbar-brand {
    font-size: 1.8rem;
}

/*
.row > div {
    padding-left: 3rem;
    padding-right: 3rem;
}
*/

/*.bg-woman-pool {*/
/*    background: url(/static/main/img/pexels-andrea-piacquadio-3764492.jpg) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*    height: 10rem;*/
/*}*/

.dam-cover {
    background: url(/static/main/img/hartebeespoort-top.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 0 2px white;
    height: 40rem;
}

.ocean-cover {
    background: url(/static/main/img/fotos/vinoth-ragunathan-cvQ6wD3bPYE-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 0 2px white;
    height: 40rem;
}

.discovery-cta {
    background: darkslategrey;
}


#discoveryForm .form-group {
    margin-top: 0.7em;
}


#div_id_punctual label {
    display: inline;
}

.footer {
    /*background-color: var(--clr-blackboard);*/
    margin-top: 5em;
    padding: 1rem;
}

fieldset {
    margin-top: 2em;
}

textarea.form-control {
    height: 8em;
}

.home-cvr-txt {
    margin: 4rem 6rem;
    /*top: 4rem;*/
    /*left: 5rem;*/
    color: white;
    text-shadow: 0 0 20px black;
}

dt {
    padding-top: 1rem;
    font-size: 1.3rem;
}

.dd-ticks dd::before {
    content: "✔ ";
}

.dd-ticks dd {
    text-indent: 30px;
}

/*
ul li {
    padding: 0.3rem 0.1rem;
    margin-left: 30px;
}
*/

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

.gray-img {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
}

.success-story {
    width: 400px;
}

.w20 {
    width: 20%;
}


/** home services boxes */
.services-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: stretch;
}
.service-box {
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    width: 100%;
}

/** equal boxes */
.flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: stretch;
}
.flexbox-item {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.flexbox-img {
    flex-basis: 40%;
}
.flexbox-txt {
    flex-basis: 60%;
}


video {
  width: 100%;
  height: auto;
}
.ne-vid {
    max-width: 960px;
    max-height: 540px;
}

.nutess-bg {
    background: url(/static/main/img/nutrition_essentials/background.jpeg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}